body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #ffffff;

}

.profile {
  margin: 100px auto 100px auto;
  padding-top: 0;

  width: 50%;
  text-align: center;
}

.top-container {
  background-color: #E4f9f5;
  position: relative;
  padding: 100px;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  /* 100% is equal to 16px and 1em , 90% is equal to 5.625em*/
  font-family: 'Sacramento', cursive;
}

h2 {
  margin: 0;
  color: #66BFBF;
  font-size: 2.3rem;
  font-weight: bolder;
  line-height: 4;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.middle-container {
  margin: 0;
  font-weight: bolder;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

p {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 1.3rem;
  color: #40514e;
}

h3 {
  font-size: 1.4rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.top-cloud {
  position: absolute;
  right: 370px;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  bottom: 450px;
  left: 250px;
}

.skill-row {
  margin: 100px auto 200px auto;
  width: 50%;
  text-align: left;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chili {
  width: 25%;
  float: right;
}

.contact-me {
margin: 100px auto 100px auto;

}

.contact-me1{
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  height:100px;

}


.bottom-container {
  margin: 0;
  background-color: #66bfbf;

  height: 12rem;
  width: 100%;
}

.footer-link {
  font-size: 1.3rem;

  position: relative;
  top: 50px;
  padding: 50px;
}

.foot {
  color: #eaf6f6;
  position: relative;
  top:100px;
  font-size:13px;
  padding-bottom: 0;
}

hr {

  color: gray;
  border: 0;
  border-top: 8px;
  border-style: dotted;
  width: 6%;
}

.message{
  padding-right: 10px;
  margin: 0;
  height:24px;

}


.button {
  border-radius: 15px;
  background-color:#0e9aa7;
  border: none;
  color: white;
  padding: .75em 1em .75em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.5rem;
  margin: 30px 30px;
  cursor: pointer;
}

.button:hover{
  background: #3da4ab;
}
